html {
    font-size: 10px;
}

body {
    width: 100%;
    background-color: #004E89;
}

.search_section {
    width: 60%;
    height: 100vh;
    margin: 0 auto;
    padding: 5rem;
    background-color: rgb(25, 68, 104);
}

.weather {
  visibility: hidden;
}

.details {
  border: 2px solid red;
  height: 20rem;
}
